.container {
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 3.2rem;

  @include breakpoint-up(medium) {
    margin: 0rem 6.4rem 2.4rem 6.4rem;
  }

  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
  }

  @include breakpoint-up(xlarge) {
    margin: 0rem 12.8rem 2.4rem 12.8rem;
    margin-bottom: 24rem;
  }
}

.bill {
  margin-bottom: 2.4rem;
  &__title {
    @include title;
  }

  &__form {
    @include form;
  }
}

.tip {
  margin-bottom: 2.4rem;
  cursor: pointer;

  &__title {
    @include title;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;

    @include breakpoint-up(xlarge) {
      grid-template-columns: 1fr 1fr 33.3333%;
      grid-template-rows: repeat(2, 1fr);
    }

    &-item {
      display: grid;
      align-items: center;
      justify-content: center;

      background-color: var(--color-very-dark-cyan);
      padding: 1rem;
      border-radius: 9px;
      color: var(--color-very-light-grayish-cyan);
      font-size: 2.4rem;
      font-weight: 700;

      &:hover,
      &:active {
        background-color: var(--color-strong-cyan);
      }

      &:last-child {
        background-color: var(--color-very-light-grayish-cyan);
        color: var(--color-very-dark-grayish-cyan);
        font-family: $font-primary;
        text-align: center;

        &:focus {
          outline: 2px solid var(--color-strong-cyan);
        }
      }
    }
  }
}

.people {
  margin-bottom: 2.4rem;
  position: relative;

  &__title {
    @include title;
  }

  &__alert {
    font-size: 1.4rem;
    position: absolute;
    top: 14%;
    left: 72.5%;

    color: orange;

    display: none;
    visibility: hidden;
  }

  &__form {
    @include form;
  }
}

.active {
  display: block;
  visibility: visible;
}

.grid__item {
  &.item1 {
    width: 100%;
  }

  &.item2 {
    @include breakpoint-up(large) {
      display: grid;
      align-self: stretch;
    }
  }
}

.results {
  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
  border-radius: 9px;
  background-color: var(--color-very-dark-cyan);

  @include breakpoint-up(large) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__amount {
    @include results;
  }

  &__total {
    @include results;
  }

  &__button {
    .btn {
      border: none;
      width: 100%;
      padding: 1.2rem 2.4rem;
      border-radius: 4px;
      background-color: var(--color-strong-cyan);
      text-transform: uppercase;
      font-family: $font-primary;
      font-weight: 700;
      font-size: 1.8rem;
      color: var(--color-very-dark-cyan);

      &:hover,
      &:active {
        background-color: var(--color-light-grayish-cyan);
      }
    }
  }
}
