.header {
  @include breakpoint-up(xlarge) {
    margin-top: 14rem;
    margin-bottom: 6rem;
  }
  &__logo {
    display: block;
    margin: 0 auto;
    padding: 4.2rem;
    padding-bottom: 3.6rem;
  }
}
